body {
    background-color: #95f746 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    height: 100vh !important;

}

.main-box {
    background-color: white;
    width: 25%;
    align-items: center;
    margin: 0 40% 0 40%;
}

input {
    background: white;

}

.btn-login {
    background-color: #95f746 !important;

}