body{
    background-color: #95f746 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    
}
.main-box{
    background-color: white;
    
}
input{
    background:white;
    
}
.btn-login{
    background-color: #95f746 !important;

}