/* universal selector - applies to all html elements tags */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background: white;

}
.gmail-container{
height: 100vh;
display: flex;
flex-direction: column;
}

/* header section css */
.email-header{
    display: flex;
    text-align: center;
    padding: 8px 12px;
    height: 61px; 
    background-color: #F8FAFD;
}
.header-search{
    max-width: 500px;
    background: #E9EEF6;
    border: 1px solid black;
    border-radius: 50px;
}
/* side bar btn css */
.compose-btn{
    background: #C2E7FF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius:15px ;
    box-shadow: ba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    color: black;
    text-align: center;


}
.compose-btn:hover{
    background: #C2E7FF !important;
    box-shadow:  0 1px 3px 1px rgba(60,64,67,.15), 0 4px 5px 3px rgba(60,64,67,.15)   !important;

}
.sidebar{
    width: 250px;
    padding: 9px;
    background: #F8FAFD;
}
ul{
    list-style-type: none;
    padding: 0;
}
.sidebar-nav{
    padding-left: 10px;
}
.nav-item{
    padding: 10px 24px 0 20px;
    height: 32px;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
    color: black;
    margin: 2px 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* main containt */
.main-content{
    display: flex;
    flex-direction: column;

}
.email-list{
background: white;
}
.email-row{
    height: 45px;
    cursor: pointer;
}